body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  overflow:hidden;
}

header {
  margin-top: 3em;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed;
  top: -5vw;
  left: 0;
  z-index:3;
}

#vid{
  display:none;
  position:fixed;
  width:100vw;
  height:100vh;
  left:15vw;
  top:-5vw;
  transform: rotate(180deg);  
}
.namepart{
  display:inline-block;
  margin:0px;
  margin-left:-0.75vw;
  font-weight:700;
  padding:0px;
  filter:blur(2px);
  animation: nameanimation 2.25s 1 linear;
}
.namepart:nth-child(1) {
  animation-delay: 1.60s;
}
.namepart:nth-child(2) {
  animation-delay: 1.50s;
}
.namepart:nth-child(3) {
  animation-delay: 1.40s;
}
.namepart:nth-child(4) {
  animation-delay: 1.30s;
}
.namepart:nth-child(5) {
  animation-delay: 1.20s;
}
.namepart:nth-child(6) {
  animation-delay: 1.10s;
}
.namepart:nth-child(7) {
  animation-delay: 1.00s;
}
.namepart:nth-child(8) {
  animation-delay: 0.90s;
}
.namepart:nth-child(9) {
  animation-delay: 0.80s;
}
.namepart:nth-child(10) {
  animation-delay: 0.70s;
}
.namepart:nth-child(11) {
  animation-delay: 0.60s;
}
.namepart:nth-child(12) {
  animation-delay: 0.50s;
}
.namepart:nth-child(13) {
  animation-delay: 0.40s;
}
.namepart:nth-child(14) {
  animation-delay: 0.30s;
}
.namepart:nth-child(15) {
  animation-delay: 0.20s;
}
.namepart:nth-child(16) {
  animation-delay: 0.10s;
}
@keyframes nameanimation{
  0%{transform:rotateY(-90deg);filter:blur(20px);}
  100%{transform:rotateY(0deg);filter:blur(2px);}
}

#name{
  display:none;
  font-size:4vw;
  color:rgb(	255, 153, 51);
  z-index:2;
  position:fixed;
  left:59vw;
  top:20vw;
}

.image{
  width:15vw;
  position:fixed;
  z-index:0;
  opacity:25%;
  top:-100vw;
}
.aj{
  animation-delay:2.5s;
}
.image:nth-child(1){
  left:5vw;
  animation: imageanimation1 5s infinite linear;
  animation-delay:2.5s;
}
.image:nth-child(2){
  left:35vw;
  animation: imageanimation2 5s infinite linear;
  animation-delay:2.5s;
}
.image:nth-child(3){
  left:73vw;
  animation: imageanimation3 5s infinite linear;
  animation-delay:2.5s;
}
.image:nth-child(4){
  left:15vw;
  animation: imageanimation4 5s infinite linear;
  animation-delay:2.5s;
}
.image:nth-child(5){
  left:36vw;
  animation: imageanimation5 5s infinite linear;
  animation-delay:2.5s;
}
.image:nth-child(6){
  left:31vw;
  animation: imageanimation6 5s infinite linear;
  animation-delay:2.5s;
}
.image:nth-child(7){
  left:69vw;
  animation: imageanimation7 5s infinite linear;
  animation-delay:2.5s;
}
.image:nth-child(8){
  left:57vw;
  animation: imageanimation8 5s infinite linear;
  animation-delay:2.5s;
}
.image:nth-child(9){
  left:75vw;
  animation: imageanimation9 5s infinite linear;
  animation-delay:2.5s;
}
.image:nth-child(10){
  left:49vw;
  animation: imageanimation10 5s infinite linear;
  animation-delay:2.5s;
}
.image:nth-child(11){
  left:43vw;
  animation: imageanimation11 5s infinite linear;
}
.image:nth-child(12){
  left:-5vw;
  animation: imageanimation12 5s infinite linear;
}
.image:nth-child(13){
  left:77vw;
  animation: imageanimation13 5s infinite linear;
}
.image:nth-child(14){
  left:7vw;
  animation: imageanimation14 5s infinite linear;
}
.image:nth-child(15){
  left:52vw;
  animation: imageanimation15 5s infinite linear;
}
.image:nth-child(16){
  left:72vw;
  animation: imageanimation16 5s infinite linear;
}
.image:nth-child(17){
  left:10vw;
  animation: imageanimation17 5s infinite linear;
}
.image:nth-child(18){
  left:34vw;
  animation: imageanimation18 5s infinite linear;
}
.image:nth-child(19){
  left:27vw;
  animation: imageanimation19 5s infinite linear;
}
.image:nth-child(20){
  left:76vw;
  animation: imageanimation20 5s infinite linear;
}
@keyframes imageanimation1{
  0%{top:130vh;}
  100%{top:-70vh;}
}
@keyframes imageanimation2{
  0%{top:105vh;}
  100%{top:-95vh;}
}
@keyframes imageanimation3{
  0%{top:175vh;}
  100%{top:-25vh;}
}
@keyframes imageanimation4{
  0%{top:153vh;}
  100%{top:-47vh;}
}
@keyframes imageanimation5{
  0%{top:142vh;}
  100%{top:-58vh;}
}
@keyframes imageanimation6{
  0%{top:180vh;}
  100%{top:-20vh;}
}
@keyframes imageanimation7{
  0%{top:141vh;}
  100%{top:-59vh;}
}
@keyframes imageanimation8{
  0%{top:184vh;}
  100%{top:-16vh;}
}
@keyframes imageanimation9{
  0%{top:117vh;}
  100%{top:-83vh;}
}
@keyframes imageanimation10{
  0%{top:159vh;}
  100%{top:-41vh;}
}
@keyframes imageanimation11{
  0%{top:110vh;}
  100%{top:-90vh;}
}
@keyframes imageanimation12{
  0%{top:140vh;}
  100%{top:-60vh;}
}
@keyframes imageanimation13{
  0%{top:107vh;}
  100%{top:-93vh;}
}
@keyframes imageanimation14{
  0%{top:175vh;}
  100%{top:-25vh;}
}
@keyframes imageanimation15{
  0%{top:139vh;}
  100%{top:-61vh;}
}
@keyframes imageanimation16{
  0%{top:185vh;}
  100%{top:-15vh;}
}
@keyframes imageanimation17{
  0%{top:103vh;}
  100%{top:-97vh;}
}
@keyframes imageanimation18{
  0%{top:185vh;}
  100%{top:-17vh;}
}
@keyframes imageanimation19{
  0%{top:147vh;}
  100%{top:-53vh;}
}
@keyframes imageanimation20{
  0%{top:155vh;}
  100%{top:-45vh;}
}